.panda-container{
    padding:10px 20px;
    background-color: #f0f0f1;
    min-height: 100vh;
}

.panda-adding{
    position: relative;
}

.panda-setting{
    position: absolute;
    right: 0;
    top: 35px;
    vertical-align: middle;
}

.panda-setting .panda-button{
    margin-left: 10px;
    margin-right: 5px;
}

.panda-adding select{    
    width: 120px;
    height: 30px;
    text-align: center;
}

.panda-llm{
    color: #2271b1;
}

.panda-container h1{
    display: inline-block;
    margin-right: 5px;
    font-size: 23px;
    font-weight: 400;
    padding: 9px 0 4px;
    line-height: 1.3;
    color: #1d2327;
}

.panda-button{
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    white-space: nowrap;
    border: 1px solid #2271b1;
    border-radius: 3px;
    background: #f6f7f7;
    font-size: 13px;
    font-weight: 400;
    line-height: 2.15384615;
    color: #2271b1;
    padding: 0 10px;
    min-height: 30px;
    text-decoration: none;
}

.panda-button:hover{
    background-color: #f0f0f1;
}

.panda-uploader{
    position: relative;
    top: auto;
    right: auto;
    left: auto;
    bottom: auto;
    margin-top: 20px;
    border: 4px dashed #c3c4c7;
    text-align:  center;
    padding: 0;
}

.panda-close-btn{
    border: none;
    font-size: 20px;
    color:#50575e;
    font-weight: bold;
    position: absolute;
    right: 5px;
    top: 10px;
    cursor: pointer;
}

.panda-list{
    margin-top: 10px;
}